
:root {
    
    // Button Variables
  --button-padding: .5rem 1rem;
  --button-border: none;
  --button-border-style: solid;
  --button-border-radius: 4px;
  --button-transition: all 0.2s ease-in-out;
  --button-font-size: 0.75rem;
  --button-font-weight: 400;
 
}