
:root {
   
  --padding1: 0.35rem;
  --padding2: 0.55rem;
  --padding3: 0.8rem;
  --padding4: 1.0rem;
  --padding5: 1.15rem;

  --margin1: 0.35rem;
  --margin2: 0.55rem;
  --margin3: 0.8rem;
  --margin4: 1.0rem;
  --margin5: 1.15rem;

  // Gap
  --gap1: 0.5rem;
  --gap2: 0.75rem;
  --gap3: 1rem;
  --gap4: 1.125rem;
  --gap5: 1.25rem;
  
  --border1: 1px;
  --border2: 1.5px;
  --border3: 2px;
  --round1: 4px;
  --round2: 6px;
  --round3: 8px;
  --border1-radius: 4px;
  --border2-radius: 6px;
  --border3-radius: 8px;
}