
.edit-col {
    width: 32px !important;
}

.remove-col {
    width: 32px !important;
}

.verti-col {
    vertical-align: middle;
}


table {
    border-bottom: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;

    tr {
        border-left: 1px solid #dee2e6;
        border-right: 1px solid #dee2e6;
    }
}