# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# =========================
# Ignores for Node.js project
# =========================

**/node_modules
**/.vs/**/*.*

# =========================
# Ignores for NodeHttp
# =========================

NodeHttp/**/*.dat
NodeHttp/**/*.tmp
NodeHttp/**/*.js
NodeHttp/**/*.js.map
NodeHttp/**/bin
NodeHttp/**/obj

# =========================
# Ignores for NodeHttpExample
# =========================

Examples/NodeHttpExample/**/*.suo
Examples/NodeHttpExample/**/*.js
Examples/NodeHttpExample/**/*.js.map
Examples/NodeHttpExample/NodeHttpExample/bin
Examples/NodeHttpExample/NodeHttpExample/obj
Examples/NodeHttpExample/NodeHttpExample/node_modules

# =========================
# Ignores for MOC
# =========================

MOC/**/*.suo
MOC/**/*.dat
MOC/**/*.js
MOC/**/*.js.map
MOC/**/bin
MOC/**/obj
MOC/**/node_modules

# =========================
# Ignores for SystemOnWeb
# =========================

SystemOnWeb/**/*.suo
SystemOnWeb/**/*.dat
SystemOnWeb/**/*.js
SystemOnWeb/**/*.js.map
SystemOnWeb/**/bin
SystemOnWeb/**/obj
SystemOnWeb/**/node_modules

# =========================
# Ignores for MSC
# =========================

MSC/**/*.suo
MSC/**/*.dat
MSC/**/*.js
MSC/**/*.js.map
MSC/**/bin
MSC/**/obj
MSC/**/node_modules

# =========================
# Ignores for DynamicLoader
# =========================

DynamicLoader/**/*.suo
DynamicLoader/**/*.dat
DynamicLoader/**/*.js
DynamicLoader/**/*.js.map
DynamicLoader/**/bin
DynamicLoader/**/obj
DynamicLoader/**/node_modules
DynamicLoader/**/.vs/

/Examples/ChatExample/wwwroot/client.js
/Examples/ChatExample/server.js
/Examples/ChatExample/hub.js

# =========================
# Ignores TestingTransfer
# =========================

TestingTransfer/**/*.suo
TestingTransfer/**/*.dat
TestingTransfer/**/src/**/*.js
TestingTransfer/**/src/**/*.d.ts
TestingTransfer/**/src/**/*.js.map
TestingTransfer/**/css/**/*.css
TestingTransfer/**/bin
TestingTransfer/**/obj
TestingTransfer/**/node_modules
TestingTransfer/**/.vs/

# =========================
# Ignores LearningVS6
# =========================

LearningES6/*.js
LearningES6/*.d.ts
LearningES6/*.js.map
LearningES6/src/**/*.js
LearningES6/src/**/*.d.ts
LearningES6/src/**/*.js.map
LearningES6/**/node_modules
LearningES6/**/typings

# =========================
# Ignores LinearCollider
# =========================

LinearCollider/LinearCollider/bin
LinearCollider/LinearCollider/obj
LinearCollider/LinearCollider/**/*.js
LinearCollider/LinearCollider/**/*.js.map
/*.js