
<div class="row">
    <div class="item">column 1</div>
    <div class="item grow">column 2</div>
    <div class="item">column 2</div>
    <div class="item">column 3</div>
</div>

<div class="col">
    <div class="item">row 1</div>
    <div class="item grow col">
        <div class="row">
            <div class="item grow">column 1</div>
            <div class="item">column 2</div>
            <div class="item">column 2</div>
            <div class="item">column 3</div>
        </div>
        <div class="col">
            <div class="item">row 1</div>
            <div class="item">row 2</div>
            <div class="item">row 2</div>
            <div class="item">row 3</div>
        </div>
    </div>
    <div class="item">row 3</div>
</div>