* {
    font-family: Consolas;
}

body {
    background-color: white;
}

input {
    border-style: dashed;
}

.ter {
    background-color:black
}

.bt {
    /*background-color: antiquewhite;*/
}
h1 {
    background-color: aqua;
    font-family: 'Bell MT';
}