.button {
  padding: var(--padding2) var(--padding3);
  border: var(--button-border);
  border-radius: var(--button-border-radius);
  cursor: pointer;
  font-size: var(--font-size1);
  font-weight: var(--font-weight3);
  text-decoration: none;

  // Espaçamento para ícones
  i:first-child:not(:last-child) {
    margin-right: var(--margin1);
  }

  i:last-child:not(:first-child) {
    margin-left: var(--margin1);
  }

  // Caso especial: apenas um ícone à esquerda (primeiro e último ao mesmo tempo)
  i:first-child:last-child {
    margin-right: var(--margin1);
  }

  &:active {
      filter: var(--filter-brightness-active);
      transition: var(--transition4);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
