.button {
  padding: var(--button-padding);
  border: var(--button-border);
  border-radius: var(--button-border-radius);
  cursor: pointer;
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  text-decoration: none;

  // Espaçamento para ícones
  i:first-child:not(:last-child) {
    margin-right: 0.5rem;
  }

  i:last-child:not(:first-child) {
    margin-left: 0.5rem;
  }

  // Caso especial: apenas um ícone à esquerda (primeiro e último ao mesmo tempo)
  i:first-child:last-child {
    margin-right: 0.5rem;
  }

  &:active {
      filter: brightness(0.8);
      transition: all 0.3s ease;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
