@use '../variables' as *;

// Spacing utilities
.m-0 {
    margin: 0 !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mr-0 {
    margin-right: 0 !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.ml-0 {
    margin-left: 0 !important;
}

.mx-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

@mixin space-utils($name, $val) {
    .p-#{$name} {
        padding: $val !important;
    }

    .pt-#{$name} {
        padding-top: $val !important;
    }

    .pr-#{$name} {
        padding-right: $val !important;
    }

    .pb-#{$name} {
        padding-bottom: $val !important;
    }

    .pl-#{$name} {
        padding-left: $val !important;
    }

    .px-#{$name} {
        padding-left: $val !important;
        padding-right: $val !important;
    }

    .py-#{$name} {
        padding-top: $val !important;
        padding-bottom: $val !important;
    }

    .m-#{$name} {
        margin: $val !important;
    }

    .mt-#{$name} {
        margin-top: $val !important;
    }

    .mr-#{$name} {
        margin-right: $val !important;
    }

    .mb-#{$name} {
        margin-bottom: $val !important;
    }

    .ml-#{$name} {
        margin-left: $val !important;
    }

    .mx-#{$name} {
        margin-left: $val !important;
        margin-right: $val !important;
    }

    .my-#{$name} {
        margin-top: $val !important;
        margin-bottom: $val !important;
    }

    .gap-#{$name} {
        gap: $val !important;
    }
}

@include space-utils('xs', $spacing-xs);
@include space-utils('sm', $spacing-sm);
@include space-utils('md', $spacing-md);
@include space-utils('lg', $spacing-lg);
@include space-utils('xl', $spacing-xl);
@include space-utils('2xl', $spacing-2xl);
@include space-utils('3xl', $spacing-3xl);