@use '../variables' as *;

.shadow-sm {
    box-shadow: $shadow-sm !important;
}

.shadow-md {
    box-shadow: $shadow-md !important;
}

.shadow-lg {
    box-shadow: $shadow-lg !important;
}

.shadow-xl {
    box-shadow: $shadow-xl !important;
}

.glow {
    box-shadow: $glow-primary !important;
}

.hover-glow:hover {
    box-shadow: 0 0 30px rgba($color-primary, 0.7) !important;
}

.transition-fast {
    transition: all $transition-fast !important;
}

.transition {
    transition: all $transition-normal !important;
}