

:host {
    display: flex;
    align-items: center;

    &:not(:last-child) {
        margin-right: 0.5rem;
    }

    &.center {
        margin: 0 auto;
    }

    &.group-left {
        margin-right: 0 !important;
        
        button {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    &.group-right {
        button {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}


button {
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    border-radius: 0.375em;
    box-shadow: none;
    padding: 0 0.5rem;
    height: 2.3rem;
    gap: 0.5rem;

    .text {
        flex-grow: 1;
    }
    .rightIcon {
        font-size: 1.2rem;
    }
    .leftIcon {
        font-size: 1.2rem;
    }

    &.normal {
        color: var(--text-color);
        background-color: #fff;
        border: 1px solid #dbdbdb;

        &:hover {
            border-color: #b5b5b5;
        }
    }

    &.primary {
        color: var(--primary-text);
        background-color: var(--primary);
        border: 1px solid var(--primary);

        &:hover {
            background-color: var(--primary-hover);
        }
        &:focus {
            box-shadow: 0 0 0 0.25rem var(--primary-shadow);
        }
    }

    &.secondary {
        color: var(--secondary-text);
        background-color: var(--secondary);
        border: 1px solid var(--secondary);

        &:hover {
            background-color: var(--secondary-hover);
        }
        &:focus {
            box-shadow: 0 0 0 0.25rem var(--secondary-shadow);
        }
    }

    &.info {
        color: var(--info-text);
        background-color: var(--info);
        border: 1px solid var(--info);

        &:hover {
            background-color: var(--info-hover);
        }
        &:focus {
            box-shadow: 0 0 0 0.25rem var(--info-shadow);
        }
    }

    &.success {
        color: var(--success-text);
        background-color: var(--success);
        border: 1px solid var(--success);

        &:hover {
            background-color: var(--success-hover);
        }
        &:focus {
            box-shadow: 0 0 0 0.25rem var(--success-shadow);
        }
    }

    &.invalid {
        color: var(--invalid-text);
        background-color: var(--invalid);
        border: 1px solid var(--invalid);

        &:hover {
            background-color: var(--invalid-hover);
        }
        &:focus {
            box-shadow: 0 0 0 0.25rem var(--invalid-shadow);
        }
    }
}