<label *ngIf="meta.label" for="{{meta.id}}">{{meta.label}}</label>
<div class="input-group">
    <div *ngIf='meta.prependIcon' class="input-group-prepend">
        <span class="input-group-text bg-white px-4 border-right-0">
            <i class="fa {{meta.prependIcon}}"></i>
        </span>
    </div>
    <!-- <select *ngIf="!meta.readonly" class="form-control bg-white"
      [attr.id]="meta.id"
      [ngClass]='{
        "border-left-0": meta.prependIcon,
        "is-invalid": inValidator.isInvalidAndUntouched,
        "is-valid": inValidator.isValidAndUntouched
      }'
      [formControl]="inValidator.formControl"
      (change)="select_onChange($event)">
      <option *ngFor="let op of meta.options" [ngValue]="op.value">
        {{ op.display }}
      </option>
    </select> -->
    <!-- <div *ngIf="meta.readonly" class="form-control">
      {{getDisplayOfValue()}}
    </div> -->
    <div class="dropdown btn-group form-control" dropdown>
        <button type="button" class="btn bg-{{value}}" dropdownToggle></button>
        <div class="dropdown-menu w100" *dropdownMenu>
            <div class="d-flex flex-column">
                <button *ngFor="let color of colors" type="button" class="btn m-2 bg-{{color}}"
                    (click)="option_click(color)"></button>
            </div>
        </div>
    </div>
</div>
<!-- <s-validators *ngIf="inValidator.hasValidators" [control]="inValidator"></s-validators> -->