<div class="col-3 center-middle">
    <s-portrait [(ngModel)]="value" [meta]="meta.portrait"></s-portrait>
</div>
<tabset class="col-9" [justified]="true">
    <tab heading="Duas Letras" (selectTab)="tab_selected(0)" [active]="tabActive == 0">
        <div *ngIf="twoLetter" class="container form-row mt-4">
            <s-text-input [(ngModel)]="twoLetter.twoLetter" [meta]="meta.twoLetter!"></s-text-input>
            <s-color-input [(ngModel)]="twoLetter.backColor" [meta]="meta.backColor"></s-color-input>
            <s-color-input [(ngModel)]="twoLetter.foreColor" [meta]="meta.foreColor"></s-color-input>
            <s-color-input [(ngModel)]="twoLetter.borderColor" [meta]="meta.borderColor"></s-color-input>
        </div>
    </tab>
    <tab heading="Icone" (selectTab)="tab_selected(1)" [active]="tabActive == 1">
        <div *ngIf="icon" class="container form-row mt-4">
            <s-icon-input [(ngModel)]="icon.icon" [meta]="meta.icon!"></s-icon-input>
            <s-color-input [(ngModel)]="icon.backColor" [meta]="meta.backColor"></s-color-input>
            <s-color-input [(ngModel)]="icon.foreColor" [meta]="meta.foreColor"></s-color-input>
            <s-color-input [(ngModel)]="icon.borderColor" [meta]="meta.borderColor"></s-color-input>
        </div>
    </tab>
</tabset>