

.twoLetter {
    width: 45px;
    height: 45px;
    padding: 0;
    border-radius: 50% !important;

    display : flex;
    align-items : center;
    justify-content: center;
}

.icon {
    width: 45px;
    height: 45px;
    padding: 0;
    border-radius: 50% !important;

    display : flex;
    align-items : center;
    justify-content: center;
}