// Definition
// border{size}{variant}
// example: border2t

// Border variables
$border-sizes: (
  '0': 0,
  '1': var(--border1),
  '2': var(--border2),
  '3': var(--border3)
);

$border-directions: (
  't': (border-top-width),
  'r': (border-right-width),
  'b': (border-bottom-width),
  'l': (border-left-width),
  'x': (border-left-width, border-right-width),
  'y': (border-top-width, border-bottom-width)
);

$border-radius-sizes: (
  '0': 0,
  '1': var(--round1),
  '2': var(--round2),
  '3': var(--round3),
  'F': 9999px
);

$border-radius-directions: (
  't': (border-top-left-radius, border-top-right-radius),
  'r': (border-top-right-radius, border-bottom-right-radius),
  'b': (border-bottom-left-radius, border-bottom-right-radius),
  'l': (border-top-left-radius, border-bottom-left-radius)
);

// Border Width Classes
@each $suffix, $size in $border-sizes {
  .border#{$suffix} {
    @if $suffix == '0' {
      border-style: none;
    } @else {
      border-style: solid;
      border-width: $size;
      border-radius: var(--border#{$suffix}-radius);
    }
  }
}

// Border Directional Classes
@each $direction, $properties in $border-directions {
  @each $suffix, $size in $border-sizes {
    .border#{$suffix}#{$direction} {
      @each $property in $properties {
        #{$property}: $size;
      }
    }
  }
}

// Border Outset Classes
@each $suffix, $size in $border-sizes {
  @if $suffix != '0' {
    .border#{$suffix}outset {
      border-style: outset;
      border-width: $size;
    }
  }
}

// Border Radius Classes
@each $suffix, $size in $border-radius-sizes {
  .round#{$suffix} {
    border-radius: $size;
  }
}

// Border Radius Directional Classes
@each $direction, $properties in $border-radius-directions {
  @each $suffix, $size in $border-radius-sizes {
    .round#{$suffix}#{$direction} {
      @each $property in $properties {
        #{$property}: $size;
      }
    }
  }
}