
$colors: (
    white,
    one,
    two,
    three,
    four,
    five,
    six,
    seven,
    success,
    warning,
    danger
);

@each $color in $colors {
    .#{$color} {
        background-color: var(--#{$color}-bg);
        color: var(--#{$color}-color);
        border-color: var(--#{$color}-border);

        .hoverable:hover:not(:disabled) {
            background-color: var(--#{$color}-hover-bg);
            color: var(--#{$color}-hover-color);
            border-color: var(--#{$color}-hover-border);
            transition: var(--transition5);
        }

        .selected {
            background-color: var(--#{$color}-selected-bg);
            color: var(--#{$color}-selected-color);
            border-color: var(--#{$color}-selected-border);
        }

        .has-selected {
            .list-sublist-header {
                background: color-mix(in srgb, var(--#{$color}-selected-bg) 60%, white 40%);
                border-left-color: var(--#{$color}-selected-color);
            }
        }

        .list-label {
            color: var(--#{$color}-label-color);
        }

        .list-separator {
            background-color: var(--#{$color}-border);
        }
    }
}