@use '../variables/_index' as *;

// Margin sizes
$margin-sizes: (
  '1': var(--margin1),
  '2': var(--margin2),
  '3': var(--margin3),
  '4': var(--margin4),
  '5': var(--margin5),
  '0': 0,
  'a': auto
);

// Padding sizes
$padding-sizes: (
  '1': var(--padding1),
  '2': var(--padding2),
  '3': var(--padding3),
  '4': var(--padding4),
  '5': var(--padding5),
  '0': 0
);

// Spacing directions for margin
$margin-directions: (
  't': (margin-top),
  'r': (margin-right),
  'b': (margin-bottom),
  'l': (margin-left),
  'x': (margin-left, margin-right),
  'y': (margin-top, margin-bottom)
);

// Spacing directions for padding
$padding-directions: (
  't': (padding-top),
  'r': (padding-right),
  'b': (padding-bottom),
  'l': (padding-left),
  'x': (padding-left, padding-right),
  'y': (padding-top, padding-bottom)
);

// Margin All Directions
@each $suffix, $size in $margin-sizes {
  .m#{$suffix} {
    margin: $size;
  }
}

// Margin Directional Classes
@each $direction, $properties in $margin-directions {
  @each $suffix, $size in $margin-sizes {
    .m#{$suffix}#{$direction} {
      @each $property in $properties {
        #{$property}: $size;
      }
    }
  }
}

// Padding All Directions
@each $suffix, $size in $padding-sizes {
  .p#{$suffix} {
    padding: $size;
  }
}

// Padding Directional Classes
@each $direction, $properties in $padding-directions {
  @each $suffix, $size in $padding-sizes {
    .p#{$suffix}#{$direction} {
      @each $property in $properties {
        #{$property}: $size;
      }
    }
  }
}